.container {
  @apply flex flex-col justify-center flex-1;
}

.content {
  @apply flex flex-col;
}

.image {
  @apply absolute top-0 left-0 w-full;
}

.imageContainer {
  @apply relative;
  padding-top: 56.25%;
}

.photoText {
  @apply absolute left-0 z-10 whitespace-pre-line -top-28;
  font-size: 6rem;
  line-height: 100%;
}
