.container {
  @apply flex flex-col mb-20;
}

.module {
  @apply flex flex-col mr-6 my-6;
}

.items {
  @apply mb-4;
}

.question {
  @apply mb-4;
}

.answer {
  @apply mb-4;
}

.hr {
  @apply mt-6;
  opacity: 0.30;
}

.hr2 {
  @apply mb-6;
  opacity: 0.30;
}

.clickable
{
  @apply flex justify-between mb-2;
  cursor: pointer;
}

@screen sm {
  .items {
    @apply flex-row;
  }
}
