@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  @apply relative items-center w-auto m-auto overflow-hidden;
  height: 100px;
}

.sliderWhite::before,
.sliderWhite::after {
}

.sliderDark::before,
.sliderDark::after {
}

.slider::before,
.slider::after {
  content: '';
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slideTrack {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.companyLogo {
  height: 100px;
  width: 250px;
  padding: 24px;
}

#whiteLogo {
  filter: brightness(0) invert(1);
}
