.container {
  @apply relative h-screen grid grid-cols-12 grid-rows-6;
}

.main {
  @apply w-full min-h-screen overflow-auto col-span-12 row-span-6 z-0;
}

.content {
  @apply w-11/12 mx-auto mt-12;
}

.logo {
  @apply absolute hidden w-full h-auto z-10;
}

.darkModeIcon {
  @apply absolute hidden z-10;
}

@screen md {
  .content {
    @apply w-1/2 m-auto;
  }
}

@screen md {
  .sidebar {
    @apply block;
  }

  .main {
    @apply col-span-11;
  }

  .logo {
    @apply block right-2 top-6;
    max-width: 10rem;
  }

  .darkModeIcon {
    @apply block right-2 bottom-8;
  }
}

@screen lg {
  .logo {
    @apply right-4 top-12;
    max-width: 12rem;
  }

  .darkModeIcon {
    @apply block right-4 bottom-12;
  }
}

@screen xl {
  .logo {
    @apply top-12 right-16;
    max-width: 12rem;
  }

  .darkModeIcon {
    @apply block right-16 bottom-12;
  }
}
