.navFooterLinks {
  left: 13px;
  bottom: 0px;
  position: absolute;
  transform: translate(1vw, -20vh);
}

.typo {
  @apply text-body
}

@screen md {
  .navFooterLinks {
    @apply left-0
  }
}

@screen sm {
  .typo {
    @apply text-caption
  }
}