.nav {
  @apply flex items-center justify-center h-full;
  position: absolute;
  top: calc(50% - 150px);
  left: 4%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #b7dde1, inset 20px 0 80px #b7dde1,
    inset -20px 0 80px #b7dde1, inset 20px 0 300px #b7dde1,
    inset -20px 0 300px #b7dde1, 0 0 50px #b7dde1, -10px 0 80px #b7dde1,
    10px 0 80px #b7dde1;
}

.navbarLinkItem {
  @apply w-full text-base text-lg font-bold no-underline;
}

@screen sm {
  .navbarLinkItem {
    @apply w-auto py-px pl-4;
  }
}

.pulsate {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: inset 0 0 50px #b7dde1, inset 20px 0 80px #b7dde1,
      inset -20px 0 80px #b7dde1, inset 20px 0 300px #b7dde1,
      inset -20px 0 300px #b7dde1, 0 0 50px #b7dde1, -10px 0 80px #b7dde1,
      10px 0 80px #b7dde1;
  }

  50% {
    box-shadow: inset 0 0 50px #b7dde1, inset 20px 0 80px #b7dde1,
      inset -20px 0 80px #b7dde1, inset 20px 0 300px #b7dde1,
      inset -20px 0 300px #b7dde1, 0 0 100px #b7dde1, -10px 0 80px #b7dde1,
      10px 0 80px #b7dde1;
  }

  100% {
    box-shadow: inset 0 0 50px #b7dde1, inset 20px 0 80px #b7dde1,
      inset -20px 0 80px #b7dde1, inset 20px 0 300px #b7dde1,
      inset -20px 0 300px #b7dde1, 0 0 50px #b7dde1, -10px 0 80px #b7dde1,
      10px 0 80px #b7dde1;
  }
}
